.blog_all{
	color: white;
}
.blog_bg{
	background-image: url('../image/blogbg.png');
	/*height: 100vh;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*padding-top: 235px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-attachment: fixed;
	border-radius: 9px;
}
.blog_title{
	display: flex;
	justify-content: center;
	
	letter-spacing: 15px;

}
.blog_author{
	display: flex;
	justify-content: center;
	
	letter-spacing: 15px;
}
.text_overflow{
	max-height: 85px;
	overflow: hidden;
}

.extra_content img{
	margin-left: 5px;
}
.feedback{

	/*width: 70%;*/
	display: flex;
	justify-content: center;
}

input[type="submit"]{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
	letter-spacing: 4px;
}
.left img{
	margin-left: 60px;
	margin-top: 50px;
}
.read_more{
	/*margin: 0 auto;*/
	/*display: flex;*/
	/*justify-content: center;*/
	
	letter-spacing: 2px;
}