/*html{
	background: #709cb173;

}*/

.logo a{
	margin-left: 10px;
	padding: 5px;
	letter-spacing: 2px;
	color: #d29817b8;
	
}

nav ul li{
	display:inline-block;
	margin-left: 25px;
	padding:5px;
	list-style: none;
	letter-spacing: 2px;
	
}
nav ul li a{
	color: #d29817b8;
}
ul li a:hover{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	color: #523a04b8;
	background: #eaeaea;
	
}
.page-footer{
	
}